@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('register_bg.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.form-gap {
    padding-top: 70px;
}